.product-detail{
  .block-name{
    font-weight: 300;
    font-size: 1.2rem;
  }
  .product-detail-top-content{
    @include clearfix;
    .product-detail-pic{
      .product-detail-slider{
        width: 61.4%;
        float: left;
        @include breakpoint(max-width 900px){
          float: none;
          margin: auto;
        }
        .bx-pager{
          margin-top: 5px;
          @include breakpoint(max-width 755px){
            text-align: center;
          }
          a{
            img{
              margin-bottom: 4px;
              border: 1px solid transparent;
            }
          }
          .active{
            img{
              border: 1px solid #3888c7;
            }
          }
        }
        .bx-wrapper .bx-caption{
          background: rgba(144, 176, 196, 0.8);
          span{
            font-family: $font-opensans;
            padding: 15px;
            line-height: 1.3rem;
          }
        }
      }
    }
    .right-block{
      margin-left: 4%;
      width: 34%;
      float: left;
      box-sizing: border-box;
      @include breakpoint(max-width 900px){
        float: none;
        width: 100%;
        margin: auto;
        padding-top: 20px;
      }
      .order-form{
        box-sizing: border-box;
        text-align: center;
        padding: 15px;
        width: 100%;
        border: 1px dashed #497b9b;
        background-image: url(#{$img}/form-bg-2.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
        @include breakpoint(max-width 900px){
          max-width: 400px;
          margin: auto;
        }
        @include breakpoint(max-width 720px){
          float: none;
          margin: auto;
        }
        .form-title{
          text-align: center;
          position: relative;
          color: #0b4e78;
          line-height: 1.1rem;
          font-weight: 600;
          font-size: 0.9rem;
          &:after{
            display: block;
            width: 72px;
            height: 1px;
            border-top: 1px dashed #497b9b;
            content: "";
            margin: 10px auto;
          }
        }
        .row{
          margin-bottom: 7px;
          input{
            text-align: center;
            height: 39px;
            border: 1px solid #a6b9ca;
            box-sizing: border-box;
            width: 100%;
            border-radius: 5px;
            background-color: transparent;
            padding-left: 10px;
            font-size: .9rem;
            &:focus{
              border: 1px solid #95cbac;
              box-shadow: 0 0 2px 0 #95cbac;
            }
          }
          .make-order-blue-btn{
            margin-top: 10px;
          }
        }
      }
      .price-row{
        padding-top: 30px;
        padding-bottom: 10px;
        .price{
          font-size: 1.2rem;
          font-weight: 600;
        }
      }
    }
  }
  .props-block{
    ul.prop-list{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        border-bottom: 2px dotted #9c9c9c;
        position: relative;
        padding: 0;
        margin-bottom: 5px;
        line-height: 1.3em;
        @include breakpoint(max-width 480px){
          border-bottom:none;
        }
        .text{
          bottom: -5px;
          position: relative;
          background-color: #fff;
          font-weight: 300;
          font-size: 0.97rem;
          @include breakpoint(max-width 480px){
            bottom: 0;
          }
        }
        .value{
          color: #666;
          position: absolute;
          right: 0;
          padding-left: 2px;
          bottom: -5px;
          background-color: #fff;
          @include breakpoint(max-width 480px){
            position: unset;
            display: block;
            bottom: 0;
          }
        }
      }
    }
  }
  .variants{
    margin-top: 20px;
    margin-bottom: 40px;
    .block-name{
      font-weight: 400;
      margin-bottom: 30px;
    }
    .table{
      width: 100%;
      border-left: 1px solid #dce9f4;
      border-right: 1px solid #dce9f4;
      border-top: 1px solid #dce9f4;
      .table-cell{
        text-align: center;
        vertical-align: middle;
        border-bottom: 1px solid #dce9f4;
        padding: 15px;
        @include breakpoint(max-width 740px){
          padding: 5px;
          font-size: 0.9rem;
        }
        @include breakpoint(max-width 600px){
          display: none;
        }
        &.table-header{
          background-color: #f2f8fa;
          color: #7d7d7d;
        }
      }
    }
  }
  .product-detail-bottom-content{
    @include clearfix;
    .left-block{
      width: 40%;
      float: left;
      margin-right: 10%;
      @include breakpoint(max-width 900px){
        float: none;
        width: 100%;
        margin-right: 0;
        padding-top: 20px;
      }
    }
    .right-block{
      float: left;
      width: 50%;
      @include breakpoint(max-width 900px){
        float: none;
        width: 100%;
        margin-right: 0;
        padding-top: 20px;
      }
      .download-row{
        ul{
          margin: 0;
          padding: 0;
          list-style: none;
          li{
            margin-bottom: 10px;
            a{
              >*{
                display: inline-block;
                vertical-align: middle;
              }
              i{
                margin-right: 3px;
              }
            }
          }
        }
      }
    }
  }
  .detail-text{
    margin-top: 20px;
    color: #868686;
  }
}
