#simpleDrawer {
  background: #fff none repeat scroll 0 0;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 101;
  padding-top: 80px;
}

#simpleDrawer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 25px;
  padding-right: 25px;
}
#simpleDrawer ul li a {
  color: #0b4e78;
  text-transform: uppercase;
  display: block;
  padding-bottom: 7px;
  padding-top: 7px;
  text-decoration: none;
  position: relative;
  &:after {
    content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
    display: block;
    height: 7px;
    overflow: hidden;
    line-height: 0;
    padding-top: 12px;
    padding-bottom: 5px;
    font-size: 12px;
    color: #0b4e78!important;
  }
}
#simpleDrawer ul li a:hover, #simpleDrawer ul li a:active #simpleDrawer ul li a.selected{
  color: $link-hover-color;
}
.drawer-hamburger {
  display: none;
  top: 0px;
  margin-top: 25px;
  cursor: pointer;
  left: 25px;
  position: fixed;
  z-index: 1000;
  width: 44px;
  height: 44px;
  border: 2px solid #e94d3e;
  border-radius: 10px;
  @include breakpoint(max-width $desktop-width){
    display: block;
  }
  .hamburger-line{
    position: absolute;
    height: 2px;
    width:25px;
    left: 10px;
    display: block;
    background-color: #e94d3e;
    &:first-child{
      top:11px;
    }
    &:nth-child(2){
      top:21px;
    }
    &:nth-child(3){
      top: 31px;
    }
  }
}

.drawer-close,
.drawer-hamburger {

}

.drawer-close {

}

#drawer-overlay {
  background-image: url(../images/overlay.png);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:2;
}
