#simpleDrawer {
  background: #fff none repeat scroll 0 0;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 101;
  padding-top: 80px;
}

#simpleDrawer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#simpleDrawer ul li a {
  border-bottom: 1px solid;
  color: black;
  display: block;
  padding-bottom: 7px;
  padding-top: 7px;
  text-decoration: none;
  padding-left: 25px;

}
#simpleDrawer ul li a:hover, #simpleDrawer ul li a:active{
  background-color: #ccc;
}
.drawer-hamburger {
  top: 0px;
  margin-top: 25px;
  cursor: pointer;
  left: 25px;
  position: fixed;
  z-index: 1000;
  width: 44px;
  height: 44px;
  border: 2px solid #e94d3e;
  border-radius: 10px;
}

.drawer-close,
.drawer-hamburger {

}

.drawer-close {

}

#drawer-overlay {
  background-image: url(../images/overlay.png);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:2;
}
