.top-menu-block{
  padding-top:35px;
  padding-bottom: 35px;
  @include breakpoint(max-width $desktop-width){
    display: none;
  }
  >ul{
    height: 37px;
    margin: 0;
    padding: 0;
    display: table;
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
    a{
      text-decoration: none;
    }
    >li{
      vertical-align: middle;
      display: table-cell;
      text-align: center;
      position: relative;
      >a{
        text-transform: uppercase;
        font-weight: 600;
        color: #0b4e78;
        font-size: 0.95rem;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid transparent;
        @include breakpoint(max-width $desktop-width){
          padding: 4px;
        }
        .ic-menu-arrow{
          position: relative;
          top: -2px;
        }
        &:hover, &.selected, &.hovered{
          color: #4c91cb;
          border: 1px solid #3888c7;
          border-radius: 15px;
          &~ul{
            display: block;
          }
        }
      }
      &:last-child{
        >a{
          &:hover, &.selected, &.hovered{
            background-color: #fff;
            border-radius: 15px 15px 0px 0px;
          }
        }
      }
      ul{
        display: none;
        margin: 10px 0 0;
        padding: 0;
        list-style: none;
        position: absolute;
        background-color: #fff;
        text-align: left;
        border: 1px solid #3888c7;
        width: 133px;
        left: 13px;
        top: 20px;
        border-top: 0;
        -webkit-border-radius: 0 0 15px 15px;
        border-radius: 0 0 15px 15px;
        z-index: 10;
        padding-left: 13px;
        padding-top: 10px;
        &:after{
          color: #3888c7;
          display: block;
          width: 100%;
          height: 3px;
          position: absolute;
          top: -3px;
          padding-left: 10px;
          content: ". . . . . . . . . . . . . . . .";
          font-size: 12px;
        }
        &:before{
          display: block;
          width: 100%;
          height: 3px;
          position: absolute;
          top: -3px;
          content: "";
        }
        &:hover{
          display: block;
        }
        li{
          >a{
            display: inline-block;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            &:hover, &.selected, &.hovered{
              border: none;
              background-color: transparent;
              border-radius: 15px;
            }
          }
        }
      }
    }
  }
}
