.top-menu-block{
  padding-top:35px;
  padding-bottom: 35px;
  @include breakpoint(max-width $desktop-width){
    display: none;
  }
  >ul{
    height: 37px;
    margin: 0;
    padding: 0;
    display: table;
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
    a{
      text-decoration: none;
    }
    >li{
      vertical-align: middle;
      display: table-cell;
      text-align: center;
      >a{
        text-transform: uppercase;
        font-weight: 600;
        color: #0b4e78;
        font-size: 0.95rem;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid transparent;
        @include breakpoint(max-width $desktop-width){
          padding: 4px;
        }
        &:hover, &.selected{
          color: #4c91cb;
          border: 1px solid #3888c7;
          border-radius: 15px;
        }
      }
      ul{
        display: none;
        li{
          >a{

          }
        }
      }
    }
  }
}
