footer{
  background-color: #f2f8fa;
  .bottom-block{
    padding-top: 25px;
    position: relative;
    @include container;
    .menu-block{
      float: left;
      width: 45%;
      @include breakpoint(max-width $desktop-width){
        float: none;
        ul{
          display: none;
        }
      }
      ul{
        margin: 0;
        padding: 0;
        list-style: none;
        column-count: 3;
        column-gap: 5px;
        li{
          margin-bottom: 10px;
          margin-right: 20px;
          a{
            font-size: 0.95rem;
            color: #6988a1;
            font-weight: 400;
            &:hover{
              color: $link-hover-color;
            }
          }
        }
      }
      .price-link{
        margin-top: 70px;
        @include breakpoint(max-width $desktop-width){
          margin: 0;
          position: absolute;
          bottom: 1px;
        }
        @include breakpoint(max-width 570px){
          text-align: center;
          width: 100%;
        }
        i{
          vertical-align: middle;
          margin-right: 5px;
        }
        a{
          vertical-align: middle;
          display: inline-block;
          color: #0b4e78;
          font-size: 0.9rem;
          &:hover{
            color: $link-hover-color;
            i{
              @include sprite($ic-download-hover);
            }
          }
        }
      }
    }
    .form-block{
      float: left;
      width: 30%;
      @include breakpoint(max-width $desktop-width){
        margin-bottom: 30px;
        width: 300px;
      }
      @include breakpoint(max-width 570px){
        float: none;
        width: 100%;
      }
      .spam-block{
        border-style: solid; border-width: 5px; -moz-border-image: url(#{$img}/border.png) 4 round; -webkit-border-image: url(#{$img}/border.png) 4 round; -o-border-image: url(#{$img}/border.png) 4 round; border-image: url(#{$img}/border.png) 4 fill round;
        padding: 20px;
        position: relative;
        .row{
          margin-bottom: 10px;
        }
        .spam-block-header{
          margin-bottom: 15px;
          label{
            color: #3888c7;
            font-weight: 600;
            font-size: 1.05rem;
          }
        }
        #input-email{
          box-sizing: border-box;
          width: 100%;
          height: 35px;
          border-radius: 6px;
          border: 1px solid #dce9f4;
          padding-left: 5%;
          padding-right: 5%;
        }
        .buttons-row{
          @include clearfix;
          .spam-save-btn{
            display: inline-block;
            background-color: transparent;
            float: left;
            &:hover{
              background-color: $link-hover-color;
              border: 1px solid $link-hover-color;
            }
          }
          .spam-cancel-btn{
            float: right;
            padding: 11px 16px;
            border: none;
            color: #c7d4de;
            font-weight: 300;
            &:hover{
              color: $link-hover-color;
            }
          }
        }
      }
    }
    .contact-block{
      float: right;
      width: 22%;
      text-align: right;
      @include breakpoint(max-width $desktop-width){
        width: 220px;
        text-align: center;

      }
      @include breakpoint(max-width 570px){
        float: none;
        width: 100%;
        padding-bottom: 30px;
        .social-icons{
          text-align: center;
        }
      }
      .contact-block-wrapper {
        display: inline-block;
        text-align: left;
      }
      .contact-row{
        margin-bottom: 10px;
        a{
          color: #0b4e78;
          &:hover{
            color: $link-hover-color;
          }
        }
        .ic-cell{
          width: 20px;
          display: inline-block;
          vertical-align: middle;
        }
        .text-cell{
          display: inline-block;
          vertical-align: middle;
          &.address-text{
            font-weight: 300;
            font-size: 0.9rem;
          }
          div{
            margin-bottom: 7px;
          }
        }
      }
      .social-icons{
        margin-top: 5px;
        ul{
          margin: 0;
          padding: 0;
          list-style: none;
          li{
            display: inline-block;
          }
        }
      }
    }
  }
  .bottom-line{
    margin-top: 25px;
    padding-top:25px;
    padding-bottom: 25px;
    border-top: 2px dotted #a6b9ca;
    @include clearfix;
    .coop{
      float: left;
      font-size: 0.9rem;
      color: #a6b9ca;
      @include breakpoint(max-width 570px){
        text-align: center;
        width: 100%;
        float: none;
      }
    }
    .developer{
      float: right;
      @include breakpoint(max-width 570px){
        text-align: center;
        width: 100%;
        float: none;
      }
      span{
        font-size: 0.9rem;
        color: #a6b9ca;
      }
      a{
        font-size: 0.9rem;
        color: #a6b9ca;
        &:hover{
          color: $link-hover-color;
        }
      }
    }
  }
}
