.sections{
  .section-list{
    .item{
      margin-bottom: 30px;
      padding-bottom: 30px;
      position: relative;
      border-bottom: 1px dashed #0b4e78;
      .name{
        margin-bottom: 20px;
        a{
          font-weight: 600;
          >*{
            display: inline-block;
            vertical-align: middle;
          }
        }
        img{
          margin-right: 20px;
        }
      }
      .subsection{
        a{
          display: inline-block;
          margin-bottom: 1%;
          margin-right: 10%;
          &:last-child{
            margin-right: 0;
          }
          >*{
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
