html{
  font-size: $font-size;
  font-family: $font-opensans;
  line-height: $base-line-height;
}
body{
  margin: 0;
}
.wrapper{
  margin: auto;
  padding-left: $margin-wrapper;
  padding-right: $margin-wrapper;
  max-width: $max-width;
  min-width: $min-width;
}
i{
  display: inline-block;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.slick-prev{
  @include sprite($ic-left-arrow);
  background-color: transparent;
  border: none;
  font-size: 0;
  cursor:pointer;
  position: absolute;
  left: 0px;
  top: 38%;
}
.slick-next{
  @include sprite($ic-right-arrow);
  cursor: pointer;
  font-size: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 38%;
}
