html{
  font-size: $font-size;
  font-family: $font-opensans;
  line-height: $base-line-height;
}
body{
  margin: 0;
}
html,
body {
  height: 100%;
}

main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -305px;
  padding-bottom: 10px;
  @include breakpoint(max-width $desktop-width){
  margin: 0 auto 0px;
  }
}

footer,
.push {
  height: 305px;
  @include breakpoint(max-width $desktop-width){
    height: auto;
  }
}

.wrapper{
  margin: auto;
  padding-left: $margin-wrapper;
  padding-right: $margin-wrapper;
  max-width: $max-width;
  min-width: $min-width;
  @include clearfix;
}
i{
  display: inline-block;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.slick-prev{
  @include sprite($ic-left-arrow);
  background-color: transparent;
  border: none;
  font-size: 0;
  cursor:pointer;
  position: absolute;
  left: 0px;
  top: 38%;
}
.slick-next{
  @include sprite($ic-right-arrow);
  cursor: pointer;
  font-size: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 38%;
}
.soc-widget{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  >*{
    display: inline-block;
    vertical-align: middle;
  }
  .widget-words{
    margin-right: 10px;
    font-size: 0.9rem;
    font-weight: 300px;
  }
}
