.info{
  .info-list{
    @include container;
    .item{
      @include gallery(1 of 4 0.03);
      margin-bottom: 2%;
      @include breakpoint(max-width $desktop-width){
        @include gallery(1 of 3 0.03);
        margin-bottom: 15px;
        text-align: center;
      }
      @include breakpoint(max-width 800px){
        @include gallery(1 of 2 0.03);
      }
      .pic{
        margin-bottom: 5px;
        img{
          width: 100%;
        }
      }
      .name{
        line-height: 1.2rem;
        a{
          text-decoration: none;
          color: #000;
          &:hover{
            color: $link-hover-color;
          }
        }
      }
      .bottom-row{
        @include clearfix;
        margin-top: 10px;
        .create-date{
          float: left;
          font-weight: 300;
          font-size: 0.9rem;
          @include breakpoint(max-width 530px){
            float: none;
            width: 100%;
          }
        }
        .detail-link{
          float: right;
          @include breakpoint(max-width 530px){
            float: none;
            margin-top: 5px;
          }
        }
      }
    }
  }
  .view-count{
    float: left;
    margin-left: 30px;
    font-weight: 300;
    font-size: 0.9rem;
  }
}
