.detail-btn{
  display: inline-block;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  border: 1px solid;
  border-radius: 20px;
  color: #3888c7;
  font-size: 0.9rem;
  font-weight: 300;
  cursor: pointer;
  >*{
    display: inline-block;
    vertical-align: middle;
  }
  &:hover{
    background-color: #e94d24;
    border-color: #e94d24;
    color: #fff;
    i{
      @include sprite($ic-arrow-hover);
    }
  }
}
.detail-btn-red{
  background-color: transparent;
  display: inline-block;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  border: 1px solid;
  border-radius: 20px;
  color: #3888c7;
  font-size: 0.9rem;
  font-weight: 300;
  cursor: pointer;
  >*{
    display: inline-block;
    vertical-align: middle;
  }
  &:hover{
    color: #e94d24;
    i{
      @include sprite($ic-arrow-red);
    }
  }
}
.make-order-btn{
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 10px;
  font-size: 0.95rem;
  color: #fff;
  border-radius: 15px;
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
  &:hover{
    background-color: #e94d24;
    border: 1px solid #a62300;
  }
}
.make-order-blue-btn{
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #3888c7;
  padding: 10px;
  font-size: 0.95rem;
  color: #3888c7;
  border-radius: 15px;
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
  &:hover{
    background-color: #e94d24;
    border: 1px solid #e94d24;
    color: #fff;
  }
}
