{% extends './../layouts/master.html' %}
{% block content %}

{% include './../components/breadcrumbs.html'%}

<h1 class="section-header">О компании</h1>
<div class="section-text">
  Вы можете обратиться к нам напрямую или оставить свою заявку<br>или вопрос через форму обратной связи
</div>
<div class="wrapper">
  <div class="text-grey">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>

<!--start component specialist list-->
<div class="specialist">
  <div class="wrapper">
    <h2 class="block-header">С ВАМИ РАБОТАЮ ЛУЧШИЕ СПЕЦИАЛИСТЫ<br>В СФЕРЕ ВОДОПОДГОТОВКИ</h2>
    <div class="specialist-list">

      <div class="item">
        <div class="pic">
          <img src="./images/specialist.png" alt="">
        </div>
        <div class="name">
          Иван Петров
        </div>
        <div class="job-post">
          Мастер монтажа
        </div>
      </div>

      <div class="item">
        <div class="pic">
          <img src="./images/specialist.png" alt="">
        </div>
        <div class="name">
          Иван Петров
        </div>
        <div class="job-post">
          Мастер монтажа
        </div>
      </div>

      <div class="item">
        <div class="pic">
          <img src="./images/specialist.png" alt="">
        </div>
        <div class="name">
          Иван Петров
        </div>
        <div class="job-post">
          Мастер монтажа
        </div>
      </div>

      <div class="item">
        <div class="pic">
          <img src="./images/specialist.png" alt="">
        </div>
        <div class="name">
          Иван Петров
        </div>
        <div class="job-post">
          Мастер монтажа
        </div>
      </div>

    </div>
  </div>
</div>
<!--end component specialist list-->

<!--start component serteficat list-->
<div class="sertificat">
  <div class="wrapper">
    <h2 class="block-header">СЕРТИФИКАТЫ И СВИДЕТЕЛЬСТВА</h2>
    <div class="section-text">
      Компания "АКВАНЕМ" регулярно учавствует в различных мероприятиях<br>повставщиков, региональных и федеральных вытвках.<br>Сотрудники компании регулярно проходят различное<br>обучение и повышения квалификации
    </div>
    <div class="sertificat-list">
      <div class="item">
        <div class="pic">
          <a href="#" title=""><img src="./images/doc.png" alt=""></a>
        </div>
        <div class="name">
          <a href="#" title="">Название документа</a>
        </div>
      </div>
      <div class="item">
        <div class="pic">
          <a href="#" title=""><img src="./images/doc.png" alt=""></a>
        </div>
        <div class="name">
          <a href="#" title="">Название документа</a>
        </div>
      </div>
      <div class="item">
        <div class="pic">
          <a href="#" title=""><img src="./images/doc.png" alt=""></a>
        </div>
        <div class="name">
          <a href="#" title="">Название документа</a>
        </div>
      </div>
      <div class="item">
        <div class="pic">
          <a href="#" title=""><img src="./images/doc.png" alt=""></a>
        </div>
        <div class="name">
          <a href="#" title="">Название документа</a>
        </div>
      </div>
      <div class="item">
        <div class="pic">
          <a href="#" title=""><img src="./images/doc.png" alt=""></a>
        </div>
        <div class="name">
          <a href="#" title="">Название документа</a>
        </div>
      </div>
      <div class="item">
        <div class="pic">
          <a href="#" title=""><img src="./images/doc.png" alt=""></a>
        </div>
        <div class="name">
          <a href="#" title="">Название документа</a>
        </div>
      </div>
    </div>
  </div>

</div>

<!--end component serteficat list-->
{% endblock %}
