{% extends './../layouts/master.html' %}
{% block content %}

{% include './../components/breadcrumbs.html'%}

<h1 class="section-header">Вопрос ответ детальная</h1>
<!--start faq detail-->
<div class="faq-detail">
  <div class="wrapper">
    <div class="faq-content">
      <div class="faq-text faq-question">
        <div class="row title-row">
          <i class="ic-question"></i><span>Вопрос:</span>
        </div>
        <div class="row text">
          Текст вопроса?
        </div>
      </div>
      <div class="faq-text faq-answer">
        <div class="row title-row">
          <i class="ic-answer"></i><span>Ответ:</span>
        </div>
        <div class="row text">
          <p>Компания «Акванем» предоставляет комплекс услуг по водоподготовке (водоочистке) и водоснабжению для загородных домов, коттеджей, бассейнов, гостиниц. Компания «Акванем» предоставляет комплекс услуг по водоподготовке (водоочистке) и водоснабжению для загородных домов, коттеджей, бассейнов, гостиниц. Компания «Акванем» предоставляет комплекс услуг по водоподготовке (водоочистке) и водоснабжению для загородных домов, коттеджей, бассейнов, гостиниц. Компания «Акванем» предоставляет комплекс услуг по водоподготовке (водоочистке) и водоснабжению для загородных домов, коттеджей, бассейнов, гостиниц.
          </p>
          <p>
          Компания «Акванем» предоставляет комплекс услуг по водоподготовке (водоочистке) и водоснабжению для загородных домов, коттеджей, бассейнов, гостиниц. Компания «Акванем» предоставляет комплекс услуг по водоподготовке (водоочистке) и водоснабжению для загородных домов, коттеджей, бассейнов, гостиниц.
          </p>
        </div>
      </div>
    </div>
    <div class="nav-row">
      <div class="left-block nav-block">
        <div class="row">
          <i class="ic-arrow"></i><span>Предыдущий вопрос</span>
        </div>
        <div class="row">
          <a href="#" title="">Текст ссылки</a>
        </div>
      </div>
      <div class="right-block nav-block">
        <div class="row">
          <span>Следующий вопрос</span><i class="ic-arrow"></i>
        </div>
        <div class="row">
          <a href="#" title="">Текст ссылки</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end faq detail-->
<!--start form add reveiws-->
<div class="add-reviews-form">
  <div class="wrapper">
    <h2 class="section-header">ОСТАВИТЬ СВОЙ ВОПРОС</h2>
    <div class="form-text">
      Вы можете задать свой вопрос. Если ваш вопрос окажется интересным или войдет<br>
      в список популярных вопросов, то ответ на него будет опубликован.<br>
      Обязательно оставьте правильный адрес электронной почты<br>
      для получения персонального ответа.
    </div>
    <div class="form-wrapper">
      <form class="" action="index.html" method="post">
        <div class="row">
          <input type="text" name="NAME" placeholder="Как вас зовут?" value="">
        </div>
        <div class="row two-cell-row">
          <div class="input-cell">
            <input type="text" name="PHONE" placeholder="Номер телефона" value="">
          </div>
          <div class="input-cell">
            <input type="text" placeholder="E-mail" name="EMAIL" value="">
          </div>
        </div>
        <div class="row">
          <textarea name="TEXT" placeholder="Ваш вопрос?"></textarea>
        </div>
        <div class="row button-row">
          <button type="button"  class="detail-btn-red" name="button">Отправить</button>
        </div>
      </form>
    </div>

  </div>
</div>
<!--end form add reveiws-->
{% endblock %}
