{% extends './../layouts/master.html' %}
{% block content %}

{% include './../components/breadcrumbs.html'%}

<h1 class="section-header">Информация детальная</h1>

<div class="info-detail">
  <div class="wrapper">
    <img src="/images/info-detail.png" class="detail-pic" alt="">
    <div class="info-block">
      <span>15 сентября 2017 г.</span><span>1010 <i class="ic-view-count"></i></span>
    </div>
    <div class="text">
      <p>Компания «Акванем» предоставляет комплекс услуг по водоподготовке (водоочистке) и водоснабжению для загородных домов, коттеджей, бассейнов, гостиниц. А так же для различных предприятий промышленности – котельных, для производств по изготовлению и розливу воды, безалкогольных и алкогольных напитков, молзаводов и т. п. Компания «Акванем» активно работает по Краснодарскому краю и р. Адыгея, так же нам интересны Крым и Ростовская область. Для решения сложных вопросов в области очистки воды
      </p>
      <p>Компания «Акванем» предоставляет комплекс услуг по водоподготовке (водоочистке) и водоснабжению для загородных домов, коттеджей, бассейнов, гостиниц. А так же для различных предприятий промышленности – котельных, для производств по изготовлению и розливу воды, безалкогольных и алкогольных напитков, молзаводов и т. п. Компания «Акванем» активно работает по Краснодарскому краю и р. Адыгея, так же нам интересны Крым и Ростовская область. Для решения сложных вопросов в области очистки воды
      </p>
    </div>
    <div class="download-row">
      <div class="download-header">
        Фложения:
      </div>
      <ul>
        <li><a href="" title=""><i class="ic-download"></i> Файл.zip (178 кб.)</a></li>
        <li><a href="" title=""><i class="ic-download"></i> Файл.zip (178 кб.)</a></li>
        <li><a href="" title=""><i class="ic-download"></i> Файл.zip (178 кб.)</a></li>
        <li><a href="" title=""><i class="ic-download"></i> Файл.zip (178 кб.)</a></li>
        <li><a href="" title=""><i class="ic-download"></i> Файл.zip (178 кб.)</a></li>
        <li><a href="" title=""><i class="ic-download"></i> Файл.zip (178 кб.)</a></li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
