{% extends './../layouts/master.html' %}
{% block content %}

{% include './../components/breadcrumbs.html'%}

<h1 class="section-header">Портфолио</h1>

<!--start compnoent portfolio list-->
<div class="portfolio-page">
  <div class="wrapper">
    <div class="portfolio-list">

      <div class="item">
        <div class="pic">
          <a href="#" title="">
            <img src="./images/last-portfolio.jpg" alt="">
          </a>
        </div>
        <div class="name">
          <a href="#" title="">Длинное название объекта в две строки</a>
        </div>
        <div class="bottom-row">
          <span class="create-date">сентябрь 2017г</span>
          <a href="#" title="" class="detail-link detail-btn">Подробнее <i class="ic-arrow"></i></a>
        </div>
      </div>

      <div class="item">
        <div class="pic">
          <a href="#" title="">
            <img src="./images/last-portfolio.jpg" alt="">
          </a>
        </div>
        <div class="name">
          <a href="#" title="">Длинное название объекта в две строки</a>
        </div>
        <div class="bottom-row">
          <span class="create-date">сентябрь 2017г</span>
          <a href="#" title="" class="detail-link detail-btn">Подробнее <i class="ic-arrow"></i></a>
        </div>
      </div>

      <div class="item">
        <div class="pic">
          <a href="#" title="">
            <img src="./images/last-portfolio.jpg" alt="">
          </a>
        </div>
        <div class="name">
          <a href="#" title="">Длинное название объекта в две строки</a>
        </div>
        <div class="bottom-row">
          <span class="create-date">сентябрь 2017г</span>
          <a href="#" title="" class="detail-link detail-btn">Подробнее <i class="ic-arrow"></i></a>
        </div>
      </div>

      <div class="item">
        <div class="pic">
          <a href="#" title="">
            <img src="./images/last-portfolio.jpg" alt="">
          </a>
        </div>
        <div class="name">
          <a href="#" title="">Длинное название объекта в две строки</a>
        </div>
        <div class="bottom-row">
          <span class="create-date">сентябрь 2017г</span>
          <a href="#" title="" class="detail-link detail-btn">Подробнее <i class="ic-arrow"></i></a>
        </div>
      </div>

      <div class="item">
        <div class="pic">
          <a href="#" title="">
            <img src="./images/last-portfolio.jpg" alt="">
          </a>
        </div>
        <div class="name">
          <a href="#" title="">Длинное название объекта в две строки</a>
        </div>
        <div class="bottom-row">
          <span class="create-date">сентябрь 2017г</span>
          <a href="#" title="" class="detail-link detail-btn">Подробнее <i class="ic-arrow"></i></a>
        </div>
      </div>

      <div class="item">
        <div class="pic">
          <a href="#" title="">
            <img src="./images/last-portfolio.jpg" alt="">
          </a>
        </div>
        <div class="name">
          <a href="#" title="">Длинное название объекта в две строки</a>
        </div>
        <div class="bottom-row">
          <span class="create-date">сентябрь 2017г</span>
          <a href="#" title="" class="detail-link detail-btn">Подробнее <i class="ic-arrow"></i></a>
        </div>
      </div>

      <div class="item">
        <div class="pic">
          <a href="#" title="">
            <img src="./images/last-portfolio.jpg" alt="">
          </a>
        </div>
        <div class="name">
          <a href="#" title="">Длинное название объекта в две строки</a>
        </div>
        <div class="bottom-row">
          <span class="create-date">сентябрь 2017г</span>
          <a href="#" title="" class="detail-link detail-btn">Подробнее <i class="ic-arrow"></i></a>
        </div>
      </div>

    </div>
  </div>
</div>
<!--end compnoent portfolio list-->

{% endblock %}
