{% extends './../layouts/master.html' %}
{% block content %}

{% include './../components/breadcrumbs.html'%}

<h1 class="section-header">Товар детальная</h1>
<!--start component product detail-->
<div class="product-detail">
  <div class="wrapper">
    <div class="product-detail-top-content">
      <div class="product-detail-pic">
        <div class="product-detail-slider">

          <ul class="bxslider">
            <li><img src="./images/portfolio-slider-big.jpg" t/></li>
            <li><img src="./images/portfolio-slider-big.jpg" /></li>
            <li><img src="./images/portfolio-slider-big.jpg" /></li>
            <li><img src="./images/portfolio-slider-big.jpg" /></li>
            <li><img src="./images/portfolio-slider-big.jpg" /></li>
            <li><img src="./images/portfolio-slider-big.jpg" /></li>
          </ul>

          <div class="bx-pager">
            <a data-slide-index="0" href=""><img src="./images/portfolio-slider-min.jpg" /></a>
            <a data-slide-index="1" href=""><img src="./images/portfolio-slider-min.jpg" /></a>
            <a data-slide-index="2" href=""><img src="./images/portfolio-slider-min.jpg" /></a>
            <a data-slide-index="3" href=""><img src="./images/portfolio-slider-min.jpg" /></a>
            <a data-slide-index="4" href=""><img src="./images/portfolio-slider-min.jpg" /></a>
            <a data-slide-index="5" href=""><img src="./images/portfolio-slider-min.jpg" /></a>
          </div>

        </div>
      </div>
      <div class="right-block">
        <div class="order-form">
          <form class="" action="index.html" method="post">
            <div class="row">
              <div class="form-title">
                Вы можете заказать<br>
                консультацию специалиста<br>
                по данной услуге<br>
              </div>
            </div>
            <div class="row">
              <input type="text" placeholder="Как вас зовут?" name="NAME" value="">
            </div>
            <div class="row">
              <input type="text" placeholder="Номер телефона" name="PHONE" value="">
            </div>
            <div class="row">
              <input type="text" placeholder="E-mail" name="EMAIL" value="">
            </div>
            <div class="row text-center">
              <button type="submit" name="button" class="make-order-blue-btn">Заказать</button>
            </div>
          </form>
        </div>
        <div class="price-row">
          <span>Цена от:</span> <span class="price">12 000 <span class="ruble-mark">Р</span></span>
        </div>
        <div class="props-block">
          <h2 class="block-name">
            Характеристики
          </h2>
          <ul class="prop-list">
            <li>
              <span class="text">Название характеристики</span>
              <span class="value">Значение</span>
            </li>
            <li>
              <span class="text">Название характеристики 22</span>
              <span class="value">Значение 22</span>
            </li>
            <li>
              <span class="text">Название характеристики 3333 33</span>
              <span class="value">Значение 33</span>
            </li>
           <ul>
        </div>
      </div>
    </div>
    <div class="variants">
      <h2 class="block-name text-center">Варианты оборудования</h2>
      <div class="table">
        <div class="table-row">
          <div class="table-cell table-header">
            Модель
          </div>
          <div class="table-cell table-header">
            Производительность,<br>куб.м/час
          </div>
          <div class="table-cell table-header">
            Мощность, кВт/час
          </div>
          <div class="table-cell table-header">
            Вес, кг
          </div>
          <div class="table-cell table-header">
            Габариты
          </div>
          <div class="table-cell table-header">
            Цена
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell table-body">
            xxx-12345
          </div>
          <div class="table-cell table-body">
            150
          </div>
          <div class="table-cell table-body">
            2,5
          </div>
          <div class="table-cell table-body">
            120
          </div>
          <div class="table-cell table-body">
            120x140
          </div>
          <div class="table-cell table-body">
            120x140
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell table-body">
            xxx-12345
          </div>
          <div class="table-cell table-body">
            150
          </div>
          <div class="table-cell table-body">
            2,5
          </div>
          <div class="table-cell table-body">
            120
          </div>
          <div class="table-cell table-body">
            120x140
          </div>
          <div class="table-cell table-body">
            120x140
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell table-body">
            xxx-12345
          </div>
          <div class="table-cell table-body">
            150
          </div>
          <div class="table-cell table-body">
            2,5
          </div>
          <div class="table-cell table-body">
            120
          </div>
          <div class="table-cell table-body">
            120x140
          </div>
          <div class="table-cell table-body">
            120x140
          </div>
        </div>
      </div>
    </div>
    <div class="product-detail-bottom-content">
      <div class="left-block">
        <div class="props-block">
          <h2 class="block-name text-center">
            Комплектация
          </h2>
          <ul class="prop-list">
            <li>
              <span class="text">Название характеристики</span>
              <span class="value">Значение</span>
            </li>
            <li>
              <span class="text">Название характеристики 22</span>
              <span class="value">Значение 22</span>
            </li>
            <li>
              <span class="text">Название характеристики 3333 33</span>
              <span class="value">Значение 33</span>
            </li>
           <ul>
        </div>
      </div>
      <div class="right-block">
        <div class="download-row">
          <div class="download-header">
            <h2 class="block-name text-center">
              Документация
            </h2>
          </div>
          <ul>
            <li><a href="" title=""><i class="ic-download"></i> Файл.zip (178 кб.)</a></li>
            <li><a href="" title=""><i class="ic-download"></i> Файл.zip (178 кб.)</a></li>
            <li><a href="" title=""><i class="ic-download"></i> Файл.zip (178 кб.)</a></li>
            <li><a href="" title=""><i class="ic-download"></i> Файл.zip (178 кб.)</a></li>
            <li><a href="" title=""><i class="ic-download"></i> Файл.zip (178 кб.)</a></li>
            <li><a href="" title=""><i class="ic-download"></i> Файл.zip (178 кб.)</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="detail-text">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>
<!--end component product detail-->
{% endblock %}
