{% extends './../layouts/master.html' %}
{% block content %}

{% include './../components/breadcrumbs.html'%}

<h1 class="section-header">Список товаров</h1>

<div class="wrapper">
  <!--start component catalog menu-->
  <!--end component catalog menu-->
  <div class="catalog-menu">
    <div class="menu-wrapper">
      <ul>
        <li>
          <a href="#" title="" class="selected">Раздел уровень 1</a>
          <ul>
            <li>
              <a href="#" title="">Под раздел уровень 2</a>
            </li>
            <li>
              <a href="#" title="">Под раздел уровень 2</a>
            </li>
            <li>
              <a href="#" title="">Под раздел уровень 2</a>
              <ul>
                <li>
                  <a href="#" title="">Под раздел уровень3</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" title="">Раздел уровень 1</a>
        </li>
        <li>
          <a href="#" title="">Раздел уровень 1</a>
        </li>
        <li>
          <a href="#" title="">Раздел уровень 1</a>
        </li>
        <li>
          <a href="#" title="">Раздел уровень 1</a>
        </li>
      </ul>
    </div>
  </div>
  <!--start component catalog list-->
  <div class="catalog">
    <div class="catalog-list">

      <div class="item">
        <div class="pic">
          <a href="./product-detail.html" title="">
            <img src="./images/last-portfolio.jpg" alt="">
          </a>
        </div>
        <div class="name">
          <a href="./product-detail.html" title="">Длинное название объекта в две строки</a>
        </div>
        <div class="bottom-row">
          <span class="price">от 24 900 &#8381;</span>
          <a href=./product-detail.html" title="" class="detail-link detail-btn">Запросить</a>
        </div>
      </div>

      <div class="item">
        <div class="pic">
          <a href="#" title="">
            <img src="./images/last-portfolio.jpg" alt="">
          </a>
        </div>
        <div class="name">
          <a href="#" title="">Длинное название объекта в две строки</a>
        </div>
        <div class="bottom-row">
          <span class="price">от 24 900 &#8381;</span>
          <a href="#" title="" class="detail-link detail-btn">Запросить</a>
        </div>
      </div>

      <div class="item">
        <div class="pic">
          <a href="#" title="">
            <img src="./images/last-portfolio.jpg" alt="">
          </a>
        </div>
        <div class="name">
          <a href="#" title="">Длинное название объекта в две строки</a>
        </div>
        <div class="bottom-row">
          <span class="price">от 24 900 &#8381;</span>
          <a href="#" title="" class="detail-link detail-btn">Запросить</a>
        </div>
      </div>

      <div class="item">
        <div class="pic">
          <a href="#" title="">
            <img src="./images/last-portfolio.jpg" alt="">
          </a>
        </div>
        <div class="name">
          <a href="#" title="">Длинное название объекта в две строки</a>
        </div>
        <div class="bottom-row">
          <span class="price">от 24 900 &#8381;</span>
          <a href="#" title="" class="detail-link detail-btn">Запросить</a>
        </div>
      </div>

      <div class="item">
        <div class="pic">
          <a href="#" title="">
            <img src="./images/last-portfolio.jpg" alt="">
          </a>
        </div>
        <div class="name">
          <a href="#" title="">Длинное название объекта в две строки</a>
        </div>
        <div class="bottom-row">
          <span class="price">от 24 900 &#8381;</span>
          <a href="#" title="" class="detail-link detail-btn">Запросить</a>
        </div>
      </div>

    </div>
  </div>
  <!--end compnent catalog list-->
</div>

{% endblock %}
