{% extends './../layouts/master.html' %}
{% block content %}

{% include './../components/breadcrumbs.html'%}

<h1 class="section-header">Услуга детальная</h1>

<div class="services-detail">
  <div class="wrapper">
    <div class="services-content">
      <div class="left-block">
        <div class="left-content-wrapper">
          <div class="pic">
            <img src="./images/services-detail.png" alt="">
          </div>
          <div class="props">
            <div class="props-name">
              В анализ воды в экспресс-лаборатории входят
  следующие виды исследований:
            </div>
            <div class="props-list">
              <ul>
                <li>Анализ воды на общую жесткость</li>
                <li>Выявление содержания железа в воде</li>
                <li>Водородный показатель воды рН</li>
                <li>Общая минерализация воды</li>
                <li>Содержание нитратов</li>
                <li>Выявление прочих загрязняющих веществ в воде</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="right-block">
        <div class="order-form">
          <form class="" action="index.html" method="post">
            <div class="row">
              <div class="form-title">
                Вы можете заказать<br>
                консультацию специалиста<br>
                по данной услуге<br>
              </div>
            </div>
            <div class="row">
              <input type="text" placeholder="Как вас зовут?" name="NAME" value="">
            </div>
            <div class="row">
              <input type="text" placeholder="Номер телефона" name="PHONE" value="">
            </div>
            <div class="row">
              <input type="text" placeholder="E-mail" name="EMAIL" value="">
            </div>
            <div class="row text-center">
              <button type="submit" name="button" class="make-order-blue-btn">Заказать</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="services-detail-text">
      <p>Компания «Акванем» предоставляет комплекс услуг по водоподготовке (водоочистке) и водоснабжению для загородных домов, коттеджей, бассейнов, гостиниц. А так же для различных предприятий промышленности – котельных, для производств по изготовлению и розливу воды, безалкогольных и алкогольных напитков, молзаводов и т. п.</p>
<p>
Компания «Акванем» активно работает по Краснодарскому краю и р. Адыгея, так же нам интересны Крым и Ростовская область.
Для решения сложных вопросов в области очистки воды компания использует лучшие зарубежные и отечественные разработки, а также собственный опыт полученный при работе с промышленными предприятиями Краснодарского края и р. Адыгея, гостиничными комплексами Черноморского побережья и р.Крым, частными домовладениями Краснодара, пригорода, Краснодарского края.</p>
    </div>
    <div class="row video-block">
      <div class="video-frame">

      </div>
    </div>
  </div>
</div>

<!--start component reviews-->

<div class="top-reviews">
  <div class="wrapper">
    <h2 class="block-header">ОТЗЫВЫ КЛИЕНТОВ НА ОКАЗАННУЮ УСЛУГУ</h2>
    <div class="reviews-list">

      <div class="item">
        <div class="pic">
          <a href="#" title=""><img src="./images/reivews.png" alt=""></a>
        </div>
        <div class="content-item">
          <div class="name">
            <a href="#" title="">Алексндр Иванов</a>
          </div>
          <div class="proffesion">
            Директор ООО "Агротрейд"
          </div>
          <div class="text">
            Текст главной мысли отзыва в одно предолжение...
          </div>
          <div class="date">
            сентябрь 2017 г.
          </div>
          <div class="row">
            <a href="#" class="detail-link detail-btn">Подробнее <i class="ic-arrow"></i></a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="pic">
          <a href="#" title=""><img src="./images/reivews.png" alt=""></a>
        </div>
        <div class="content-item">
          <div class="name">
            <a href="#" title="">Алексндр Иванов</a>
          </div>
          <div class="proffesion">
            Директор ООО "Агротрейд"
          </div>
          <div class="text">
            Текст главной мысли отзыва в одно предолжение...
          </div>
          <div class="date">
            сентябрь 2017 г.
          </div>
          <div class="row">
            <a href="#" class="detail-link detail-btn">Подробнее <i class="ic-arrow"></i></a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="pic">
          <a href="#" title=""><img src="./images/reivews.png" alt=""></a>
        </div>
        <div class="content-item">
          <div class="name">
            <a href="#" title="">Алексндр Иванов</a>
          </div>
          <div class="proffesion">
            Директор ООО "Агротрейд"
          </div>
          <div class="text">
            Текст главной мысли отзыва в одно предолжение...
          </div>
          <div class="date">
            сентябрь 2017 г.
          </div>
          <div class="row">
            <a href="#" class="detail-link detail-btn">Подробнее <i class="ic-arrow"></i></a>
          </div>
        </div>
      </div>

    </div>
    <div class="text-center">
      <a href="#" class="reviews-detail-link" title="Все отзывы">Все отзывы</a>
    </div>
  </div>
</div>
<!--end component reviews-->

<!--start compnoent last portfolio-->
<div class="last-portfolio objects">
  <div class="wrapper">
    <h2 class="block-header">Выполененный проекты с данной услугой</h2>
    <div class="last-portfolio-list">

      <div class="item">
        <div class="pic">
          <a href="#" title="">
            <img src="./images/last-portfolio.jpg" alt="">
          </a>
        </div>
        <div class="name">
          <a href="#" title="">Длинное название объекта в две строки</a>
        </div>
        <div class="bottom-row">
          <span class="create-date">сентябрь 2017г</span>
          <a href="#" title="" class="detail-link detail-btn">Подробнее <i class="ic-arrow"></i></a>
        </div>
      </div>

      <div class="item">
        <div class="pic">
          <a href="#" title="">
            <img src="./images/last-portfolio.jpg" alt="">
          </a>
        </div>
        <div class="name">
          <a href="#" title="">Длинное название объекта в две строки</a>
        </div>
        <div class="bottom-row">
          <span class="create-date">сентябрь 2017г</span>
          <a href="#" title="" class="detail-link detail-btn">Подробнее <i class="ic-arrow"></i></a>
        </div>
      </div>

      <div class="item">
        <div class="pic">
          <a href="#" title="">
            <img src="./images/last-portfolio.jpg" alt="">
          </a>
        </div>
        <div class="name">
          <a href="#" title="">Длинное название объекта в две строки</a>
        </div>
        <div class="bottom-row">
          <span class="create-date">сентябрь 2017г</span>
          <a href="#" title="" class="detail-link detail-btn">Подробнее <i class="ic-arrow"></i></a>
        </div>
      </div>

      <div class="item">
        <div class="pic">
          <a href="#" title="">
            <img src="./images/last-portfolio.jpg" alt="">
          </a>
        </div>
        <div class="name">
          <a href="#" title="">Длинное название объекта в две строки</a>
        </div>
        <div class="bottom-row">
          <span class="create-date">сентябрь 2017г</span>
          <a href="#" title="" class="detail-link detail-btn">Подробнее <i class="ic-arrow"></i></a>
        </div>
      </div>

    </div>
    <div class="row text-center portfolio-link-row">
      <a href="#" title="Смотреть все портфолио">Смотреть все портфолио</a>
    </div>
  </div>
</div>
<!--end component last portfolio-->
<!--start component info-->
<div class="last-portfolio information without-bg">
  <div class="wrapper">
    <h2 class="block-header">ПОЛЕЗНАЯ ИНФОРМАЦИЯ ПО ДАННОЙ ТЕМЕ</h2>
    <div class="last-portfolio-list">

      <div class="item">
        <div class="pic">
          <a href="#" title="">
            <img src="./images/last-portfolio.jpg" alt="">
          </a>
        </div>
        <div class="name">
          <a href="#" title="">Длинное название объекта в две строки</a>
        </div>
        <div class="bottom-row">
          <span class="create-date">сентябрь 2017г</span>
          <span class="view-count">54 <i class="ic-view-count"></i></span>
        </div>
      </div>

      <div class="item">
        <div class="pic">
          <a href="#" title="">
            <img src="./images/last-portfolio.jpg" alt="">
          </a>
        </div>
        <div class="name">
          <a href="#" title="">Длинное название объекта в две строки</a>
        </div>
        <div class="bottom-row">
          <span class="create-date">сентябрь 2017г</span>
          <span class="view-count">54 <i class="ic-view-count"></i></span>
        </div>
      </div>

      <div class="item">
        <div class="pic">
          <a href="#" title="">
            <img src="./images/last-portfolio.jpg" alt="">
          </a>
        </div>
        <div class="name">
          <a href="#" title="">Длинное название объекта в две строки</a>
        </div>
        <div class="bottom-row">
          <span class="create-date">сентябрь 2017г</span>
          <span class="view-count">54 <i class="ic-view-count"></i></span>
        </div>
      </div>

      <div class="item">
        <div class="pic">
          <a href="#" title="">
            <img src="./images/last-portfolio.jpg" alt="">
          </a>
        </div>
        <div class="name">
          <a href="#" title="">Длинное название объекта в две строки</a>
        </div>
        <div class="bottom-row">
          <span class="create-date">сентябрь 2017г</span>
        <span class="view-count">54 <i class="ic-view-count"></i></span>
        </div>
      </div>

    </div>
    <div class="row text-center portfolio-link-row">
      <a href="#" title="Все статьи">Все статьи</a>
    </div>
  </div>
</div>
<!--end component info-->
{% endblock %}
