<div class="wrapper">
  <div class="bottom-block">
    <div class="menu-block">
      <!--start compnent bottom menu-->
      <ul>
        <li><a href="#" title="">Пункт меню 1</a></li>
        <li><a href="#" title="">Пункт меню 2</a></li>
        <li><a href="#" title="">Пункт меню 3</a></li>
        <li><a href="#" title="">Пункт меню 4</a></li>
        <li><a href="#" title="">Пункт меню 5</a></li>
        <li><a href="#" title="">Пункт меню 6</a></li>
        <li><a href="#" title="">Пункт меню 7</a></li>
        <li><a href="#" title="">Пункт меню 8</a></li>
        <li><a href="#" title="">Пункт меню 9</a></li>
      </ul>
      <!--end component bottom menu-->
    </div>
    <div class="form-block">
      <div class="spam-block">
        <form class="" action="index.html" method="post">
          <div class="row spam-block-header">
            <label for="input-email">Подписка на E-mail рассылку</label>
          </div>
          <div class="row">
            <input type="text" placeholder="Ваш E-mail" name="email" id="input-email" value="">
          </div>
          <div class="row buttons-row">
            <button class="spam-save-btn detail-btn" type="button" name="button">Подписаться</button>
            <a class="spam-cancel-btn" href="" title="">Отписаться</a>
          </div>
        </form>
      </div>
    </div>
    <div class="contact-block">

    </div>
  </div>
</div>
