<div class="wrapper">
  <div class="bottom-block">
    <div class="menu-block">
      <!--start compnent bottom menu-->
      <ul>
        <li><a href="#" title="">Пункт меню 1</a></li>
        <li><a href="#" title="">Пункт меню 2</a></li>
        <li><a href="#" title="">Пункт меню 3</a></li>
        <li><a href="#" title="">Пункт меню 4</a></li>
        <li><a href="#" title="">Пункт меню 5</a></li>
        <li><a href="#" title="">Пункт меню 6</a></li>
        <li><a href="#" title="">Пункт меню 7</a></li>
        <li><a href="#" title="">Пункт меню 8</a></li>
        <li><a href="#" title="">Пункт меню 9</a></li>
      </ul>
      <!--end component bottom menu-->
      <div class="price-link">
        <a href="#" title="Скачать прайс-лист инженерного оборудования"><i class="ic-download"></i>Скачать прайс-лист инженерного оборудования</a>
      </div>
    </div>
    <div class="form-block">
      <div class="spam-block">
        <form class="" action="index.html" method="post">
          <div class="row spam-block-header">
            <label for="input-email">Подписка на E-mail рассылку</label>
          </div>
          <div class="row">
            <input type="text" placeholder="Ваш E-mail" name="email" id="input-email" value="">
          </div>
          <div class="row buttons-row">
            <button class="spam-save-btn detail-btn" type="button" name="button">Подписаться</button>
            <a class="spam-cancel-btn" href="" title="">Отписаться</a>
          </div>
        </form>
      </div>
    </div>
    <div class="contact-block">
      <div class="contact-block-wrapper">
        <div class="contact-row">
          <div class="ic-cell">
            <i class="ic-phone"></i>
          </div>
          <div class="text-cell">
            <div>
              <span>+7 (961) </span><b>526-26-09</b>
            </div>
            <div>
              <span>+7 (918) </span><b>027-30-30</b>
            </div>
          </div>
        </div>
        <div class="contact-row">
          <div class="ic-cell">
            <i class="ic-email"></i>
          </div>
          <div class="text-cell">
            <div>
              <a href="matilto:info@aquanem.ru" title="info@aquanem.ru">info@aquanem.ru</a>
            </div>
          </div>
        </div>
        <div class="contact-row">
          <div class="ic-cell">
            <i class="ic-point"></i>
          </div>
          <div class="text-cell address-text">
            <div>
              <span>г. Краснодар, ул. 1-я линия</span>
            </div>
            <div>
            <span>  Поймы реки Кубань, д. 204</span>
            </div>
          </div>
        </div>
        <div class="contact-row social-icons">
          <ul>
            <li><a href="#" title=""><i class="ic-vk"></i></a></li>
            <li><a href="#" title=""><i class="ic-fb"></i></a></li>
            <li><a href="#" title=""><i class="ic-inst"></i></a></li>
            <li><a href="#" title=""><i class="ic-you-tube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-line">
    <div class="coop">
      ООО «Акванем» 2012-2017 г.
    </div>
    <div class="developer">
      <span>Разработка сайта -</span>
      <a href="https://www.intellect-service.pro" target="blank" title="Разработка сайта - Интеллект-Сервис"> Интеллект-Сервис</a>
    </div>
  </div>
</div>
