<div class="wrapper">
  <div class="top-block">
    <div class="search-block">
      <div class="address-line">
        <i class="ic-point"></i><span>г. Краснодар, ул. 1-я линия Поймы реки Кубань, д. 204</span>
      </div>
      <div class="search">
        <!--start include search component-->
        <div class="search-component">
          <input type="text" class="search-input" name="" value="" placeholder="Поиск...">
          <button type="submit" class="search-btn" name="button"><i class="ic-search"></i></button>
        </div>
        <!--end include search component-->
      </div>
    </div>
    <div class="logo-block">
      <div class="logo-pic">
        <a href="/" title="АКВАНЕМ"><img src="./images/logo.png" alt=""></a>
      </div>
      <div class="logo-text">
        Чистая вода для каждого.<br>Дома и на работе
      </div>
    </div>
    <div class="phone-block">
      <div class="work-time-wrapper">
        <div class="work-time">
          <!--start component work time-->

          <!--end component work time-->
        </div>
      </div>
      <div class="phone-wrapper">
        <div class="phone-number">
          <div class="phone-item">
            <span>+7 (961) </span><b>526-26-09</b>
          </div>
          <div class="phone-item">
            <span>+7 (918) </span><b>027-30-30</b>
          </div>
        </div>
        <div class="callback-block">
          <button type="button" class="callback-btn" name="button">Обратный звонок</button>
        </div>
      </div>
    </div>
  </div>
  <div class="top-menu-block">
    <!--start component top menu-->
    <ul>
      <li>
        <a href="#" class="selected" title="">Главная</a>
      </li>
      <li>
        <a href="#" title="">Услуги</a>
      </li>
      <li>
        <a href="#" title="">Портфолио</a>
      </li>
      <li>
        <a href="#" title="">Оборудование</a>
      </li>
      <li>
        <a href="#" title="">Информация</a>
      </li>
      <li>
        <a href="#" title="">Вопрос-ответ</a>
      </li>
      <li>
        <a href="#" title="">Компания</a>
        <ul>
          <li>
            <a href="#" title="">Подменю пункт 1</a>
          </li>
          <li>
            <a href="#" title="">Подменю пункт 2</a>
          </li>
        </ul>
      </li>
    </ul>
    <!--end component top menu-->
  </div>
  <!--start component slider-->
  <div class="slider-block">
    <div class="bx-slider-container">
      <div class="slider-main">
        <div class="slide" style="background-image:url(./images/slide-1.jpg)">
          <div class="slider-text">
            При заказе установки
            очистительного КОМПЛЕКСА
            «УГОЛЬНЫЙ ЗВЕРЬ 3000»
            <b>БУРЕНИЕ СКВАЖИНЫ</b> НА
            ВАШЕМ УЧАСТКЕ
            <b class="text-red">БЕСПЛАТНО!</b>
          </div>
        </div>
        <div class="slide" style="background-image:url(./images/slide-1.jpg)">
          <div class="slider-text">
            При заказе установки
            очистительного КОМПЛЕКСА
            «УГОЛЬНЫЙ ЗВЕРЬ 3000»
            <b>БУРЕНИЕ СКВАЖИНЫ</b> НА
            ВАШЕМ УЧАСТКЕ
            <b class="text-red">БЕСПЛАТНО!</b>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-form">
      <div class="slider-form-title">Закажите бесплатную<br>консультацию инженера<br>по водоподготовке!
      </div>
      <div class="main-form-wrapper">
        <form class="" action="" method="post">
          <div class="row">
            <input type="text" class="form-input" name="" value="" placeholder="Как вас зовут?">
          </div>
          <div class="row">
            <input type="text" class="form-input" name="" value="" placeholder="Номер телефона">
          </div>
          <div class="row">
            <input type="text" class="form-input" placeholder="E-mail" name="" value="">
          </div>
          <div class="row">
            <textarea class="form-input" placeholder="Подробности" name=""></textarea>
          </div>
          <div class="row button-row">
            <button type="submit" class="make-order-btn" name="button">Заказать</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--end component slider-->
</div>
