.last-portfolio{
  background-image: url(#{$img}/porftolio-bg.jpg);
  .block-header{
    padding-top: 35px;
  }
  &.information{
      background-image: url('#{$img}/information-bg.jpg');
  }
  &.objects{
    padding-bottom: 43px;
    padding-top: 10px;
  }
  .last-portfolio-list{
    @include container;
    .item{
      @include gallery(1 of 4 0.03);
      .pic{
        margin-bottom: 5px;
      }
      .name{
        line-height: 1.2rem;
        a{
          text-decoration: none;
          color: #000;
          &:hover{
            color: $link-hover-color;
          }
        }
      }
      .bottom-row{
        margin-top: 8px;
        @include clearfix;
        .create-date{
          margin-top: 10px;
          float: left;
          font-weight: 300;
          font-size: 0.9rem;
        }
        .detail-link{
          float: right;
        }
      }
    }
  }
  .portfolio-link-row{
    margin-top: 40px;
    a{
      font-weight: 300;
      color: #426b8c;
      &:hover{
        color: $link-hover-color;
      }
    }
  }
  .view-count{
    float: left;
    margin-left: 30px;
    font-weight: 300;
    font-size: 0.9rem;
    margin-top: 10px;
  }
}
