.pather{
  padding-bottom: 90px;
  .block-header{
    padding-top: 50px;
    padding-bottom: 57px;

  }
  .pather-list{
    .item{
      text-align: center;
      .item-wrapper{
        margin: auto;
        width: 80%;
        .pic{
          height: 70px;
          margin-bottom: 25px;
          a{
            display: inline-block;
            &:hover{
              background-position: 0 100%;
            }
          }
        }
        .name{
          text-align: center;
          a{
            text-decoration: none;
            color: #000;
            font-weight: 300;
            &:hover{
              color: $link-hover-color;
            }
          }
        }
      }
    }
  }
}
