.top-reviews{
  padding-bottom: 30px;
  .reviews-list{
    @include container;
    .item{
      @include gallery(1 of 3 0.1);
      @include breakpoint(max-width 520px){
        float: none!important;
        width: 100%;
        margin-left: 0!important;
        margin-bottom: 20px;
      }
      .pic{
        float: left;
        margin-right: 10px;
        @include breakpoint(max-width $desktop-width){
          text-align: center;
          float: none;
        }
        img{
          border: 1px solid #fff;
          border-radius: 100%;
        }
      }
      .content-item{
        width:58%;
        float: right;
        @include breakpoint(max-width $desktop-width){
          text-align: center;
          float: none;
          width: 100%;
        }
        .name{
          margin-bottom: 5px;
          a{
            text-decoration: none;
            color: #000;
            &:hover{
              color: $link-hover-color;
            }
          }
        }
        .proffesion{
          font-weight: 300;
          color: #7d7d7d;
          font-style: italic;
          font-size: 0.95rem;
          margin-bottom: 35px;
        }
        .text{
          font-weight: 300;
          color: #7d7d7d;
          font-size: 0.95rem;
          position: relative;
          &:before{
            display: block;
            content: "";
             position: absolute;
             width: 100%;
             height: 1px;
             border-bottom: 1px dashed;
             top: -17px;
          }
        }
        .date{
          font-size: 0.9rem;
          font-weight: 300;
          color: #7d7d7d;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }
  .reviews-detail-link{
    display: inline-block;
    color: #426b8c;
    margin-top: 25px;
    &:hover{
      color: $link-hover-color;
    }
  }
}
