$ic-add-reviews-hover-name: 'ic-add-reviews-hover';
$ic-add-reviews-hover-x: 108px;
$ic-add-reviews-hover-y: 0px;
$ic-add-reviews-hover-offset-x: -108px;
$ic-add-reviews-hover-offset-y: 0px;
$ic-add-reviews-hover-width: 19px;
$ic-add-reviews-hover-height: 18px;
$ic-add-reviews-hover-total-width: 127px;
$ic-add-reviews-hover-total-height: 122px;
$ic-add-reviews-hover-image: '../images/sprite.png';
$ic-add-reviews-hover: (108px, 0px, -108px, 0px, 19px, 18px, 127px, 122px, '../images/sprite.png', 'ic-add-reviews-hover', );
$ic-add-reviews-name: 'ic-add-reviews';
$ic-add-reviews-x: 87px;
$ic-add-reviews-y: 75px;
$ic-add-reviews-offset-x: -87px;
$ic-add-reviews-offset-y: -75px;
$ic-add-reviews-width: 19px;
$ic-add-reviews-height: 18px;
$ic-add-reviews-total-width: 127px;
$ic-add-reviews-total-height: 122px;
$ic-add-reviews-image: '../images/sprite.png';
$ic-add-reviews: (87px, 75px, -87px, -75px, 19px, 18px, 127px, 122px, '../images/sprite.png', 'ic-add-reviews', );
$ic-answer-name: 'ic-answer';
$ic-answer-x: 108px;
$ic-answer-y: 36px;
$ic-answer-offset-x: -108px;
$ic-answer-offset-y: -36px;
$ic-answer-width: 18px;
$ic-answer-height: 18px;
$ic-answer-total-width: 127px;
$ic-answer-total-height: 122px;
$ic-answer-image: '../images/sprite.png';
$ic-answer: (108px, 36px, -108px, -36px, 18px, 18px, 127px, 122px, '../images/sprite.png', 'ic-answer', );
$ic-arrow-down-name: 'ic-arrow-down';
$ic-arrow-down-x: 58px;
$ic-arrow-down-y: 66px;
$ic-arrow-down-offset-x: -58px;
$ic-arrow-down-offset-y: -66px;
$ic-arrow-down-width: 11px;
$ic-arrow-down-height: 7px;
$ic-arrow-down-total-width: 127px;
$ic-arrow-down-total-height: 122px;
$ic-arrow-down-image: '../images/sprite.png';
$ic-arrow-down: (58px, 66px, -58px, -66px, 11px, 7px, 127px, 122px, '../images/sprite.png', 'ic-arrow-down', );
$ic-arrow-hover-name: 'ic-arrow-hover';
$ic-arrow-hover-x: 108px;
$ic-arrow-hover-y: 90px;
$ic-arrow-hover-offset-x: -108px;
$ic-arrow-hover-offset-y: -90px;
$ic-arrow-hover-width: 18px;
$ic-arrow-hover-height: 12px;
$ic-arrow-hover-total-width: 127px;
$ic-arrow-hover-total-height: 122px;
$ic-arrow-hover-image: '../images/sprite.png';
$ic-arrow-hover: (108px, 90px, -108px, -90px, 18px, 12px, 127px, 122px, '../images/sprite.png', 'ic-arrow-hover', );
$ic-arrow-red-name: 'ic-arrow-red';
$ic-arrow-red-x: 50px;
$ic-arrow-red-y: 29px;
$ic-arrow-red-offset-x: -50px;
$ic-arrow-red-offset-y: -29px;
$ic-arrow-red-width: 18px;
$ic-arrow-red-height: 12px;
$ic-arrow-red-total-width: 127px;
$ic-arrow-red-total-height: 122px;
$ic-arrow-red-image: '../images/sprite.png';
$ic-arrow-red: (50px, 29px, -50px, -29px, 18px, 12px, 127px, 122px, '../images/sprite.png', 'ic-arrow-red', );
$ic-arrow-name: 'ic-arrow';
$ic-arrow-x: 79px;
$ic-arrow-y: 58px;
$ic-arrow-offset-x: -79px;
$ic-arrow-offset-y: -58px;
$ic-arrow-width: 18px;
$ic-arrow-height: 12px;
$ic-arrow-total-width: 127px;
$ic-arrow-total-height: 122px;
$ic-arrow-image: '../images/sprite.png';
$ic-arrow: (79px, 58px, -79px, -58px, 18px, 12px, 127px, 122px, '../images/sprite.png', 'ic-arrow', );
$ic-download-hover-name: 'ic-download-hover';
$ic-download-hover-x: 0px;
$ic-download-hover-y: 104px;
$ic-download-hover-offset-x: 0px;
$ic-download-hover-offset-y: -104px;
$ic-download-hover-width: 14px;
$ic-download-hover-height: 18px;
$ic-download-hover-total-width: 127px;
$ic-download-hover-total-height: 122px;
$ic-download-hover-image: '../images/sprite.png';
$ic-download-hover: (0px, 104px, 0px, -104px, 14px, 18px, 127px, 122px, '../images/sprite.png', 'ic-download-hover', );
$ic-download-name: 'ic-download';
$ic-download-x: 108px;
$ic-download-y: 72px;
$ic-download-offset-x: -108px;
$ic-download-offset-y: -72px;
$ic-download-width: 14px;
$ic-download-height: 18px;
$ic-download-total-width: 127px;
$ic-download-total-height: 122px;
$ic-download-image: '../images/sprite.png';
$ic-download: (108px, 72px, -108px, -72px, 14px, 18px, 127px, 122px, '../images/sprite.png', 'ic-download', );
$ic-email-name: 'ic-email';
$ic-email-x: 108px;
$ic-email-y: 54px;
$ic-email-offset-x: -108px;
$ic-email-offset-y: -54px;
$ic-email-width: 18px;
$ic-email-height: 18px;
$ic-email-total-width: 127px;
$ic-email-total-height: 122px;
$ic-email-image: '../images/sprite.png';
$ic-email: (108px, 54px, -108px, -54px, 18px, 18px, 127px, 122px, '../images/sprite.png', 'ic-email', );
$ic-eye-name: 'ic-eye';
$ic-eye-x: 87px;
$ic-eye-y: 93px;
$ic-eye-offset-x: -87px;
$ic-eye-offset-y: -93px;
$ic-eye-width: 19px;
$ic-eye-height: 10px;
$ic-eye-total-width: 127px;
$ic-eye-total-height: 122px;
$ic-eye-image: '../images/sprite.png';
$ic-eye: (87px, 93px, -87px, -93px, 19px, 10px, 127px, 122px, '../images/sprite.png', 'ic-eye', );
$ic-fb-hover-name: 'ic-fb-hover';
$ic-fb-hover-x: 58px;
$ic-fb-hover-y: 75px;
$ic-fb-hover-offset-x: -58px;
$ic-fb-hover-offset-y: -75px;
$ic-fb-hover-width: 29px;
$ic-fb-hover-height: 29px;
$ic-fb-hover-total-width: 127px;
$ic-fb-hover-total-height: 122px;
$ic-fb-hover-image: '../images/sprite.png';
$ic-fb-hover: (58px, 75px, -58px, -75px, 29px, 29px, 127px, 122px, '../images/sprite.png', 'ic-fb-hover', );
$ic-fb-name: 'ic-fb';
$ic-fb-x: 79px;
$ic-fb-y: 29px;
$ic-fb-offset-x: -79px;
$ic-fb-offset-y: -29px;
$ic-fb-width: 29px;
$ic-fb-height: 29px;
$ic-fb-total-width: 127px;
$ic-fb-total-height: 122px;
$ic-fb-image: '../images/sprite.png';
$ic-fb: (79px, 29px, -79px, -29px, 29px, 29px, 127px, 122px, '../images/sprite.png', 'ic-fb', );
$ic-inst-hover-name: 'ic-inst-hover';
$ic-inst-hover-x: 29px;
$ic-inst-hover-y: 75px;
$ic-inst-hover-offset-x: -29px;
$ic-inst-hover-offset-y: -75px;
$ic-inst-hover-width: 29px;
$ic-inst-hover-height: 29px;
$ic-inst-hover-total-width: 127px;
$ic-inst-hover-total-height: 122px;
$ic-inst-hover-image: '../images/sprite.png';
$ic-inst-hover: (29px, 75px, -29px, -75px, 29px, 29px, 127px, 122px, '../images/sprite.png', 'ic-inst-hover', );
$ic-inst-name: 'ic-inst';
$ic-inst-x: 50px;
$ic-inst-y: 0px;
$ic-inst-offset-x: -50px;
$ic-inst-offset-y: 0px;
$ic-inst-width: 29px;
$ic-inst-height: 29px;
$ic-inst-total-width: 127px;
$ic-inst-total-height: 122px;
$ic-inst-image: '../images/sprite.png';
$ic-inst: (50px, 0px, -50px, 0px, 29px, 29px, 127px, 122px, '../images/sprite.png', 'ic-inst', );
$ic-left-arrow-name: 'ic-left-arrow';
$ic-left-arrow-x: 25px;
$ic-left-arrow-y: 0px;
$ic-left-arrow-offset-x: -25px;
$ic-left-arrow-offset-y: 0px;
$ic-left-arrow-width: 25px;
$ic-left-arrow-height: 46px;
$ic-left-arrow-total-width: 127px;
$ic-left-arrow-total-height: 122px;
$ic-left-arrow-image: '../images/sprite.png';
$ic-left-arrow: (25px, 0px, -25px, 0px, 25px, 46px, 127px, 122px, '../images/sprite.png', 'ic-left-arrow', );
$ic-list-style-name: 'ic-list-style';
$ic-list-style-x: 122px;
$ic-list-style-y: 72px;
$ic-list-style-offset-x: -122px;
$ic-list-style-offset-y: -72px;
$ic-list-style-width: 4px;
$ic-list-style-height: 4px;
$ic-list-style-total-width: 127px;
$ic-list-style-total-height: 122px;
$ic-list-style-image: '../images/sprite.png';
$ic-list-style: (122px, 72px, -122px, -72px, 4px, 4px, 127px, 122px, '../images/sprite.png', 'ic-list-style', );
$ic-menu-arrow-name: 'ic-menu-arrow';
$ic-menu-arrow-x: 68px;
$ic-menu-arrow-y: 29px;
$ic-menu-arrow-offset-x: -68px;
$ic-menu-arrow-offset-y: -29px;
$ic-menu-arrow-width: 11px;
$ic-menu-arrow-height: 7px;
$ic-menu-arrow-total-width: 127px;
$ic-menu-arrow-total-height: 122px;
$ic-menu-arrow-image: '../images/sprite.png';
$ic-menu-arrow: (68px, 29px, -68px, -29px, 11px, 7px, 127px, 122px, '../images/sprite.png', 'ic-menu-arrow', );
$ic-phone-name: 'ic-phone';
$ic-phone-x: 27px;
$ic-phone-y: 104px;
$ic-phone-offset-x: -27px;
$ic-phone-offset-y: -104px;
$ic-phone-width: 12px;
$ic-phone-height: 18px;
$ic-phone-total-width: 127px;
$ic-phone-total-height: 122px;
$ic-phone-image: '../images/sprite.png';
$ic-phone: (27px, 104px, -27px, -104px, 12px, 18px, 127px, 122px, '../images/sprite.png', 'ic-phone', );
$ic-point-name: 'ic-point';
$ic-point-x: 14px;
$ic-point-y: 104px;
$ic-point-offset-x: -14px;
$ic-point-offset-y: -104px;
$ic-point-width: 13px;
$ic-point-height: 18px;
$ic-point-total-width: 127px;
$ic-point-total-height: 122px;
$ic-point-image: '../images/sprite.png';
$ic-point: (14px, 104px, -14px, -104px, 13px, 18px, 127px, 122px, '../images/sprite.png', 'ic-point', );
$ic-question-name: 'ic-question';
$ic-question-x: 108px;
$ic-question-y: 18px;
$ic-question-offset-x: -108px;
$ic-question-offset-y: -18px;
$ic-question-width: 18px;
$ic-question-height: 18px;
$ic-question-total-width: 127px;
$ic-question-total-height: 122px;
$ic-question-image: '../images/sprite.png';
$ic-question: (108px, 18px, -108px, -18px, 18px, 18px, 127px, 122px, '../images/sprite.png', 'ic-question', );
$ic-right-arrow-name: 'ic-right-arrow';
$ic-right-arrow-x: 0px;
$ic-right-arrow-y: 0px;
$ic-right-arrow-offset-x: 0px;
$ic-right-arrow-offset-y: 0px;
$ic-right-arrow-width: 25px;
$ic-right-arrow-height: 46px;
$ic-right-arrow-total-width: 127px;
$ic-right-arrow-total-height: 122px;
$ic-right-arrow-image: '../images/sprite.png';
$ic-right-arrow: (0px, 0px, 0px, 0px, 25px, 46px, 127px, 122px, '../images/sprite.png', 'ic-right-arrow', );
$ic-search-name: 'ic-search';
$ic-search-x: 58px;
$ic-search-y: 46px;
$ic-search-offset-x: -58px;
$ic-search-offset-y: -46px;
$ic-search-width: 20px;
$ic-search-height: 20px;
$ic-search-total-width: 127px;
$ic-search-total-height: 122px;
$ic-search-image: '../images/sprite.png';
$ic-search: (58px, 46px, -58px, -46px, 20px, 20px, 127px, 122px, '../images/sprite.png', 'ic-search', );
$ic-vk-hover-name: 'ic-vk-hover';
$ic-vk-hover-x: 29px;
$ic-vk-hover-y: 46px;
$ic-vk-hover-offset-x: -29px;
$ic-vk-hover-offset-y: -46px;
$ic-vk-hover-width: 29px;
$ic-vk-hover-height: 29px;
$ic-vk-hover-total-width: 127px;
$ic-vk-hover-total-height: 122px;
$ic-vk-hover-image: '../images/sprite.png';
$ic-vk-hover: (29px, 46px, -29px, -46px, 29px, 29px, 127px, 122px, '../images/sprite.png', 'ic-vk-hover', );
$ic-vk-name: 'ic-vk';
$ic-vk-x: 0px;
$ic-vk-y: 46px;
$ic-vk-offset-x: 0px;
$ic-vk-offset-y: -46px;
$ic-vk-width: 29px;
$ic-vk-height: 29px;
$ic-vk-total-width: 127px;
$ic-vk-total-height: 122px;
$ic-vk-image: '../images/sprite.png';
$ic-vk: (0px, 46px, 0px, -46px, 29px, 29px, 127px, 122px, '../images/sprite.png', 'ic-vk', );
$ic-you-tube-hover-name: 'ic-you-tube-hover';
$ic-you-tube-hover-x: 0px;
$ic-you-tube-hover-y: 75px;
$ic-you-tube-hover-offset-x: 0px;
$ic-you-tube-hover-offset-y: -75px;
$ic-you-tube-hover-width: 29px;
$ic-you-tube-hover-height: 29px;
$ic-you-tube-hover-total-width: 127px;
$ic-you-tube-hover-total-height: 122px;
$ic-you-tube-hover-image: '../images/sprite.png';
$ic-you-tube-hover: (0px, 75px, 0px, -75px, 29px, 29px, 127px, 122px, '../images/sprite.png', 'ic-you-tube-hover', );
$ic-you-tube-name: 'ic-you-tube';
$ic-you-tube-x: 79px;
$ic-you-tube-y: 0px;
$ic-you-tube-offset-x: -79px;
$ic-you-tube-offset-y: 0px;
$ic-you-tube-width: 29px;
$ic-you-tube-height: 29px;
$ic-you-tube-total-width: 127px;
$ic-you-tube-total-height: 122px;
$ic-you-tube-image: '../images/sprite.png';
$ic-you-tube: (79px, 0px, -79px, 0px, 29px, 29px, 127px, 122px, '../images/sprite.png', 'ic-you-tube', );
$we-name: 'we';
$we-x: 97px;
$we-y: 58px;
$we-offset-x: -97px;
$we-offset-y: -58px;
$we-width: 9px;
$we-height: 9px;
$we-total-width: 127px;
$we-total-height: 122px;
$we-image: '../images/sprite.png';
$we: (97px, 58px, -97px, -58px, 9px, 9px, 127px, 122px, '../images/sprite.png', 'we', );
$spritesheet-width: 127px;
$spritesheet-height: 122px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($ic-add-reviews-hover, $ic-add-reviews, $ic-answer, $ic-arrow-down, $ic-arrow-hover, $ic-arrow-red, $ic-arrow, $ic-download-hover, $ic-download, $ic-email, $ic-eye, $ic-fb-hover, $ic-fb, $ic-inst-hover, $ic-inst, $ic-left-arrow, $ic-list-style, $ic-menu-arrow, $ic-phone, $ic-point, $ic-question, $ic-right-arrow, $ic-search, $ic-vk-hover, $ic-vk, $ic-you-tube-hover, $ic-you-tube, $we, );
$spritesheet: (127px, 122px, '../images/sprite.png', $spritesheet-sprites, );

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
