$font-path: '../fonts';
$img: '../images';
$font-size: 16px;
$font-opensans: 'Open Sans';
$base-line-height: 1rem;

$margin-wrapper: 15px;
$min-width: 320px;
$max-width: 1200px; //1200px;

$input-focus-color: #3888c7;

$link-hover-color: #e94d24;
$desktop-width: 1000px;
$middle-width: 920px;
$phone-width: 640px;
$small-width:480px;
