$font-path: '../fonts';
$img: '../images';
$font-size: 16px;
$font-opensans: 'Open Sans';
$base-line-height: 1rem;

$margin-wrapper: 15px;
$min-width: 320px;
$max-width: 1000px; //1200px;

$input-focus-color:#3888c7;
