.services-detail{
  .services-content{
    @include clearfix;
    .left-block{
      float: left;
      width: 50%;
      @include breakpoint(max-width 720px){
        float: none;
        margin: 0;
        width: 100%;
        text-align: center;
      }
      .left-content-wrapper{
        @include clearfix;
        .pic{
          float: left;
          width: 25%;
          margin-right: 5%;
          @include breakpoint(max-width $middle-width){
            float: none;
            margin: 0;
            width: 100%;
            text-align: center;
          }
        }
        .props{
          float: left;
          width: 70%;
          @include breakpoint(max-width $middle-width){
            float: none;
            margin: 0;
            width: 100%;
          }
          .props-name{
            font-weight: 600;
            margin-bottom: 20px;
            line-height: 1.3rem;
          }
          ul{
            margin: 0;
            padding: 0;
            marign-top:10px;
            margin-bottom: 10px;
            list-style: none;
            li{
              margin-bottom: 15px;
              color: #929292;
              position: relative;
              &:before{
                display: inline-block;
                content: "";
                @include sprite($ic-list-style);
                vertical-align: middle;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
    .right-block{
      float: right;
      width: 30%;
      @include breakpoint(max-width 720px){
        float: none;
        margin: 0;
        width: 100%;
        text-align: center;
      }
      .order-form{
        padding: 15px;
        width: 300px;
        float: right;
        border: 1px dashed #497b9b;
        background-image: url(#{$img}/form-bg-2.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
        @include breakpoint(max-width 720px){
          float: none;
          margin: auto;
        }
        .form-title{
          text-align: center;
          position: relative;
          color: #0b4e78;
          line-height: 1.1rem;
          font-weight: 600;
          font-size: 0.9rem;
          &:after{
            display: block;
            width: 72px;
            height: 1px;
            border-top: 1px dashed #497b9b;
            content: "";
            margin: 10px auto;
          }
        }
        .row{
          margin-bottom: 7px;
          input{
            height: 39px;
            border: 1px solid #a6b9ca;
            box-sizing: border-box;
            width: 100%;
            border-radius: 5px;
            background-color: transparent;
            padding-left: 10px;
            font-size: .9rem;
            &:focus{
              border: 1px solid #95cbac;
              box-shadow: 0 0 2px 0 #95cbac;
            }
          }
          .make-order-blue-btn{
            margin-top: 10px;
          }
        }
      }
    }
  }
  .services-detail-text{
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 300;
    color: #7d7d7d;
    line-height: 1.3rem;
    @include breakpoint(max-width $middle-width){
      text-align: center;
    }
  }
  .video-block{
    .video-frame{
      background-color: #ccc;
      width: 750px;
      height: 450px;
      margin: auto;
      @include breakpoint(max-width 750px){
        width: 100%;
      }
    }
  }
}
.last-portfolio.without-bg{
  background: none;
}
